In [189]:
import sys
sys.path.append('../utils')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from MiguelTK import *
import warnings
warnings.filterwarnings('ignore')

In [190]:
df = pd.read_csv('data/ZARA_db.csv')

In [191]:
df.head()

,extracción,articulo,precio,descripcion,grupo_web,tallas,colores,enlace,marca,grupo,seccion
0,2024-05-19 18:34:13.419685,PANTALÓN ESTAMPADO ZW COLLECTION,39.95,ZARA WOMAN COLLECTIONPantalón confeccionado en...,V2024-MUJER-ULTIMA-SEMANA,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",[],https://www.zara.com/es/es/pantalon-estampado-...,ZARA,PANTALÓN,MUJER
1,2024-05-19 18:34:13.419685,BLUSA RAMIO ESTAMPADA ZW COLLECTION,49.95,ZARA WOMAN COLLECTIONBlusa confeccionada en hi...,V2024-MUJER-ULTIMA-SEMANA,"['XS', 'S', 'M', 'L', 'XL']",[],https://www.zara.com/es/es/blusa-ramio-estampa...,ZARA,BLUSA,MUJER
2,2024-05-19 18:34:13.419685,VESTIDO LENCERO LINO ZW COLLECTION,79.95,ZARA WOMAN COLLECTIONVestido midi confeccionad...,V2024-MUJER-ULTIMA-SEMANA,"['XS', 'S', 'M', 'L', 'XL']",[],https://www.zara.com/es/es/vestido-lencero-lin...,ZARA,VESTIDO,MUJER
3,2024-05-19 18:34:13.419685,PANTALÓN PIJAMERO ESTAMPADO ZW COLLECTION,39.95,ZARA WOMAN COLLECTIONPantalón pijamero confecc...,V2024-MUJER-ULTIMA-SEMANA,"['XS', 'S', 'M', 'L', 'XL']",[],https://www.zara.com/es/es/pantalon-pijamero-e...,ZARA,PANTALÓN,MUJER
4,2024-05-19 18:34:13.419685,VESTIDO MIDI BORDADOS ZW COLLECTION,89.95,ZARA WOMAN COLLECTIONVestido midi de cuello re...,V2024-MUJER-ULTIMA-SEMANA,"['XS', 'S', 'M', 'L', 'XL']",[],https://www.zara.com/es/es/vestido-midi-bordad...,ZARA,VESTIDO,MUJER

In [192]:
df['temporada'] = df['grupo_web'].str.extract(r'^(\w+)\-')
del df['grupo_web']

In [193]:
df['n_tallas'] = df['tallas'].str.count(r'\'(\w+)\'')

In [194]:
del df['enlace']

In [195]:
df['n_colores'] = df['colores'].str.count(r'\'(\w+)\'')

In [196]:
df['contiene_lino'] = df['descripcion'].str.contains(r'lino',case=False)

In [197]:
df['contiene_algodon'] = df['descripcion'].str.contains(r'algodón',case=False)

In [198]:
df

,extracción,articulo,precio,descripcion,tallas,colores,marca,grupo,seccion,temporada,n_tallas,n_colores,contiene_lino,contiene_algodon
0,2024-05-19 18:34:13.419685,PANTALÓN ESTAMPADO ZW COLLECTION,39.95,ZARA WOMAN COLLECTIONPantalón confeccionado en...,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",[],ZARA,PANTALÓN,MUJER,V2024,6,0,False,False
1,2024-05-19 18:34:13.419685,BLUSA RAMIO ESTAMPADA ZW COLLECTION,49.95,ZARA WOMAN COLLECTIONBlusa confeccionada en hi...,"['XS', 'S', 'M', 'L', 'XL']",[],ZARA,BLUSA,MUJER,V2024,5,0,False,False
2,2024-05-19 18:34:13.419685,VESTIDO LENCERO LINO ZW COLLECTION,79.95,ZARA WOMAN COLLECTIONVestido midi confeccionad...,"['XS', 'S', 'M', 'L', 'XL']",[],ZARA,VESTIDO,MUJER,V2024,5,0,True,False
3,2024-05-19 18:34:13.419685,PANTALÓN PIJAMERO ESTAMPADO ZW COLLECTION,39.95,ZARA WOMAN COLLECTIONPantalón pijamero confecc...,"['XS', 'S', 'M', 'L', 'XL']",[],ZARA,PANTALÓN,MUJER,V2024,5,0,False,True
4,2024-05-19 18:34:13.419685,VESTIDO MIDI BORDADOS ZW COLLECTION,89.95,ZARA WOMAN COLLECTIONVestido midi de cuello re...,"['XS', 'S', 'M', 'L', 'XL']",[],ZARA,VESTIDO,MUJER,V2024,5,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,2024-05-19 19:00:47.545268,JERSEY ESTRUCTURA GEOMÉTRICA,35.95,Jersey de cuello redondo y manga larga. Acabad...,"['M', 'L', 'XL']",[],ZARA,JERSEY,HOMBRE,V2024,3,0,False,False
915,2024-05-19 19:00:47.545268,DEPORTIVO BOTÍN VOLUMEN,35.95,Zapatilla deportiva botín. Cordonera con nueve...,"['39', '40', '41', '42', '43', '44', '45']","['Multicolor', 'Negro']",ZARA,DEPORTIVO,HOMBRE,V2024,7,2,False,False
916,2024-05-19 19:00:47.545268,CAZADORA ACOLCHADA BÁSICA,49.95,Cazadora acolchada confeccionada en tejido con...,"['S', 'M', 'L', 'XL']","['Negro', 'Gris claro']",ZARA,CAZADORA,HOMBRE,V2024,4,1,False,False
917,2024-05-19 19:00:47.545268,JERSEY MEZCLA VISCOSA,27.95,Jersey tejido en hilatura con mezcla de viscos...,"['S', 'M', 'L', 'XL']","['Verde oscuro', 'Gris topo', 'Blanco roto', '...",ZARA,JERSEY,HOMBRE,V2024,4,2,False,False
918,2024-05-19 19:00:47.545268,MOCASÍN PIEL BORLAS,59.95,Zapato tipo mocasín. Fabricado en piel. Corte ...,"['39', '40', '41', '42', '43', '44', '45', '46...",[],ZARA,MOCASÍN,HOMBRE,V2024,9,0,False,False

In [199]:
tallas = (
    df['tallas']
    .str.replace(r'[\[\]\']','',regex=True)
    .str.split(',',expand=True)
    .melt()
    ['value']
    .str.lstrip()
    .str.rstrip()
    .unique()
)
tallas

array(['XS', '', 'XS-S', '32', 'S', '38', 'S-M', 'M', '46', '39', '36',
       '48', '34', '85 (S)', '44', '80', '35', '85B', None, 'M-L', '40',
       'L-XL', 'L', '50', '90 (M)', '85', '37', '90B', '42', 'XL', '41',
       '52', '95 (L)', '90', 'XL-XXL', '95B', '54', '100 (XL)', '100B',
       '43', 'XXL', '85C', '90C', '45', '56', '95C', '47'], dtype=object)

In [261]:
df['colores'] = (
    df['colores']
    .str.lstrip()
    .str.rstrip()
    .str.upper()
)

In [262]:
colores = (
    df['colores']
    .str.replace(r'[\'\[\]]','',regex=True)
    .str.split(',',expand=True)
    .melt()
    ['value']
    .unique()
)
colores

array(['', 'NEGRO', 'BEIGE', 'BEIGE CLARO', 'BLANCO ROTO', 'BLANCO',
       'CRUDO / NEGRO', 'VERDE / CRUDO', 'PIEDRA', 'MARINO', 'TOSTADO',
       'KHAKI', 'GRIS ANTRACITA', 'ARENA', 'AZUL CLARO', 'AZUL',
       'AZUL / GRIS', 'GRIS TOPO', 'CRUDO', 'ACEITE', 'MARRÓN OSCURO',
       'MULTICOLOR', 'PETRÓLEO', 'BEIGE OSCURO', 'GRIS', 'VERDE CLARO',
       'KHAKI CLARO', 'ROSA PALO', 'TOSTADO VIGORÉ', 'AZUL LAVADO',
       'MARRÓN', 'VISÓN', 'VERDE', 'AZULÓN', 'KHAKI OSCURO', 'GRIS CLARO',
       'BLANCO HUESO', 'PLATA', 'VERDE CAQUI', 'AMARILLO PASTEL',
       'MOSTAZA', 'ARENA CLARO', 'ROSA', 'AZUL MEDIO', 'KAKI-MED',
       'ROJO VIVO', 'ROJO', 'ROJO BURDEOS', 'MARRÓN / TOPO',
       'AZUL / MARINO', 'ROSA CLARO', 'PISTACHO', 'CAMEL CLARO',
       'GRIS VIGORÉ', 'VERDE LAVADO', 'TABACO', 'VERDE OSCURO', None,
       ' CRUDO', ' BLANCO', ' PIEDRA', ' ARENA', ' AZUL', ' CELESTE',
       ' BEIGE CLARO', ' MARINO', ' NEGRO / BLANCO', ' CHOCOLATE',
       ' NARANJA-VERDE', ' MARRÓN OSCURO', ' NEGRO', ' GRIS PERLA',
       ' BLANCO ROTO', ' KHAKI', ' MARRÓN / TOPO', ' TOSTADO',
       ' GRIS OSCURO', ' GRIS TOPO', ' AZUL CIELO', ' GRIS', ' GRISÁCEO',
       ' AZUL MEDIO', ' CARBÓN', ' TOFFE', ' GRISES', ' AMARILLO PASTEL',
       ' AZUL / GRIS', ' MARRÓN ARENA', ' KHAKI CLARO', ' BEIGE',
       ' BLANCO / NEGRO', ' BLANCO HUESO', ' CARAMELO', ' TOSTADO CLARO',
       ' NEGRO LAVADO', ' MARRÓN', ' CREMA', ' VERDE LAVADO',
       ' VERDE / AZUL', ' GRIS ANTRACITA', ' VERDE', ' ROJO BURDEOS',
       ' MULTICOLOR', ' NARANJA', ' VIOLETA MALVA', ' PLATA',
       ' VERDE CAQUI', ' KAKI-MED', ' ROSA MEDIO', ' AZUL CLARO',
       ' KHAKI OSCURO', ' ROSA', ' OLIVA', ' ROJO', ' VERDE MEDIO',
       ' AZUL PROFUNDO', ' ROSA / BLANCO', ' LIMA', ' NARANJA OSCURO',
       ' ROSA CLARO', ' ARCILLA', ' COBALTO', ' GRIS CLARO', ' ROJO VIVO',
       ' BURDEOS', ' VERDE OSCURO', ' VERDE AGUA', ' AZULÓN', ' ACEITE',
       ' GRIS VIGORÉ', ' VERDOSO', ' CRUDO / VIGORÉ', ' ACERO',
       ' GRIS MEDIO', ' AZUL / VERDE', ' AZUL OSCURO', ' ARENA/MARRÓN',
       ' ', ' CHICLE', ' VISÓN', ' ROJO OSCURO', ' FUCSIA',
       ' VERDE CLARO', ' MARRÓN CLARO', ' CIRUELA OSCURO', ' MUSGO',
       ' MARRON/BLANCO', ' AZUL / ACERO', ' HIELO', ' SALMÓN',
       ' MALVA CLARO', ' VERDE LIMA', ' AZUL LAVADO', ' OCRE',
       ' PETRÓLEO', ' CAMEL CLARO', ' ROSA PASTEL', ' ROSA FLÚOR',
       ' MARINO / BLANCO', ' AZUL NOCHE', ' VERDE GRIS', ' BOTELLA',
       ' MANDARINA', ' PLOMO', ' AMARILLO CLARO', ' AZUL TINTA',
       ' ROSA TIZA', ' AZUL VIGORÉ', ' AZUL / BLANCO', ' CELESTE CLARO',
       ' RAYAS', ' MANTEQUILLA', ' BEIGE PLATINO', ' GRIS-GRANATE'],
      dtype=object)

In [230]:
df['tipo_talla'] = (
    df['tallas']
    .str.contains(r'\d')
    .map({
        True:'numérica',
        False:'alfabética'
    })
)

In [232]:
(
    df
    .query('tipo_talla == "alfabética"')
    ['tallas']
    .str.contains('XS')
    .value_counts(normalize=True)
)

tallas
False    0.670116
True     0.329884
Name: proportion, dtype: float64

In [236]:
(
    df
    .query('tipo_talla == "alfabética"')
    ['tallas']
    .str.contains('S')
    .value_counts(normalize=True)
)

tallas
True     0.742561
False    0.257439
Name: proportion, dtype: float64

In [234]:
(
    df
    .query('tipo_talla == "alfabética"')
    ['tallas']
    .str.contains('XL')
    .value_counts(normalize=True)
)

tallas
True     0.820181
False    0.179819
Name: proportion, dtype: float64

In [235]:
(
    df
    .query('tipo_talla == "alfabética"')
    ['tallas']
    .str.contains('XXL')
    .value_counts(normalize=True)
)

tallas
False    0.87969
True     0.12031
Name: proportion, dtype: float64

In [277]:
tabla_colores = (
    df['colores']
    .str.replace(r'[\[\]\']','',regex=True)
    .str.replace(r'\,\s',',',regex=True)
    .str.split(',',expand=True)
    .assign(seccion = df['seccion'])
    .melt('seccion')
    .drop(columns='variable')
    .dropna(subset='value')
    .query('value != ""')
)
tabla_colores

      seccion        value
13      MUJER        NEGRO
20      MUJER        BEIGE
32     HOMBRE  BEIGE CLARO
34     HOMBRE        NEGRO
51     HOMBRE        NEGRO
...       ...          ...
10087  HOMBRE        BEIGE
10307  HOMBRE        ARENA
10308  HOMBRE        CRUDO
10546  HOMBRE         AZUL
11006  HOMBRE        NEGRO

[793 rows x 2 columns]

In [288]:
B_N = (
    tabla_colores
    ['value']
    .str.contains(r'(NEGRO)|(BLANCO)')
)

In [301]:
(
    tabla_colores[~B_N]
    .groupby('seccion',as_index=False)
    ['value']
    .value_counts()
    .groupby('seccion')
    .apply(lambda x: x.nlargest(10,'count'))
)

            seccion        value  count
seccion
HOMBRE  0    HOMBRE         AZUL     26
        1    HOMBRE       MARINO     19
        2    HOMBRE        KHAKI     18
        3    HOMBRE        CRUDO     17
        4    HOMBRE      TOSTADO     15
        5    HOMBRE         GRIS     14
        6    HOMBRE       PIEDRA     14
        7    HOMBRE        ARENA     13
        8    HOMBRE  BEIGE CLARO     11
        9    HOMBRE        VERDE     11
MUJER   93    MUJER   AZUL CLARO     10
        94    MUJER        CRUDO     10
        95    MUJER        KHAKI      7
        96    MUJER       MARINO      6
        97    MUJER   ROSA CLARO      6
        98    MUJER   AZUL MEDIO      5
        99    MUJER  GRIS VIGORÉ      5
        100   MUJER         ROJO      5
        101   MUJER      TOSTADO      5
        102   MUJER        ARENA      4